/* Mobile & Tablet */
@media (max-width: 63.9375em) {
  :root {
    --header: 68px;
    --navbar-header: 0px;
  }

  .hide-on-mb-tb {
    display: none;
  }

  .container {
    padding-top: 0;
  }

  .img-carousel__items-container,
  .top-sales-container,
  .body-content,
  .ofs-carousel,
  .shop-category-on-mb-tb {
    margin-top: 12px;
  }

  .header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 1px 12px 0 rgb(0 0 0 / 12%);
    background: var(--white);
  }

  .container {
    margin-top: var(--header);
  }

  .header-with-search {
    padding: 0;
  }

  .header-with-search__logo {
    padding: 0;
    width: 68px;
  }

  .searchbar {
    background-color: #f1f1f1;
  }

  .searchbar__main {
    flex: 1;
  }

  .searchbar-input__input {
    background-color: #f1f1f1;
    width: 100%;
  }

  .header-with-search__cart-wrap {
    width: 68px;
    margin: 0;
  }

  .searchbar-input__input:focus ~ .searchbar-input__history {
    display: none;
  }

  .ofs-carousel__nav {
    background-color: var(--white);
  }

  .ofs-carousel__img {
    margin-bottom: 0;
  }

  .ofs-carousel__header {
    height: 46px;
    font-weight: 300;
  }

  .ofs-carousel__title-shop {
    color: #7a7a7a;
    text-transform: initial;
  }

  .ofs-carousel__title {
    font-size: 1.7rem;
  }

  .top-sales-title,
  .img-carousel__items-title {
    font-weight: 300;
  }

  .top-sales-title,
  .img-carousel__items-title {
    background-color: var(--white);
  }

  .top-sales-item-link__text,
  .img-carousel__items-item-text {
    font-weight: 300;
    margin: 12px 0;
    font-size: 1.6rem;
  }

  .img-carousel__items-price,
  .top-sales-item-link__price {
    font-size: 1.4rem;
  }

  .shop-category-on-mb-tb-list.row {
    flex-wrap: nowrap;
  }

  .shop-category-on-mb-tb-list {
    width: 100%;
    overflow-x: auto;
    background-color: var(--white);
  }

  .shop-category-on-mb-tb-list::-webkit-scrollbar {
    display: none;
  }

  .shop-category-on-mb-tb-item-text {
    font-weight: 300;
    font-size: 1.6rem;
    min-height: 60px;
  }

  .shop-category-on-mb-tb-item-img1 {
    padding-top: 66.66667%;
    background: center / contain no-repeat
      url("../img/banner/category/category-1.jpeg");
  }

  .shop-category-on-mb-tb-item-img2 {
    padding-top: 66.66667%;
    background: center / contain no-repeat
      url("../img/banner/category/category-2.jpeg");
  }

  .shop-category-on-mb-tb-item-img3 {
    padding-top: 66.66667%;
    background: center / contain no-repeat
      url("../img/banner/category/category-3.jpeg");
  }

  .shop-category-on-mb-tb-item-img4 {
    padding-top: 66.66667%;
    background: center / contain no-repeat
      url("../img/banner/category/category-4.jpeg");
  }

  .shop-category-on-mb-tb-item-img5 {
    padding-top: 66.66667%;
    background: center / contain no-repeat
      url("../img/banner/category/category-5.jpeg");
  }

  .shop-category-on-mb-tb-item-img6 {
    padding-top: 66.66667%;
    background: center / contain no-repeat
      url("../img/banner/category/category-6.jpeg");
  }

  .shop-category-on-mb-tb-item-img7 {
    padding-top: 66.66667%;
    background: center / contain no-repeat
      url("../img/banner/category/category-7.jpeg");
  }

  .shop-category-on-mb-tb-item-img8 {
    padding-top: 66.66667%;
    background: center / contain no-repeat
      url("../img/banner/category/category-8.jpeg");
  }

  .shop-category-on-mb-tb-item-img9 {
    padding-top: 66.66667%;
    background: center / contain no-repeat
      url("../img/banner/category/category-9.jpeg");
  }

  .shop-category-on-mb-tb-item-img10 {
    padding-top: 66.66667%;
    background: center / contain no-repeat
      url("../img/banner/category/category-10.jpeg");
  }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .hide-on-tb {
    display: none;
  }

  .ofs-carousel__list {
    padding: 0 5px;
  }

  .ofs-carousel__link {
    margin: 10px 0;
    border: 1px solid #f1f1f1;
  }

  .ofs-carousel__item {
    margin: 0 5px;
  }

  .ofs-carousel__link-see-all {
    height: calc(50% - 15px);
    border: 1px solid #f1f1f1;
  }

  .top-sales-title,
  .img-carousel__items-title,
  .ofs-carousel__header {
    padding: 13px 10px;
  }
}

/* Mobile */
@media (max-width: 46.1875em) {
  .hide-on-mb {
    display: none;
  }

  .ofs-carousel__list {
    padding: 0 10px;
  }

  .ofs-carousel__link {
    margin: 20px 0;
    border: 1px solid #f1f1f1;
  }

  .ofs-carousel__item {
    margin: 0 10px;
  }

  .ofs-carousel__link-see-all {
    height: calc(50% - 30px);
    border: 1px solid #f1f1f1;
  }

  .top-sales-title,
  .img-carousel__items-title,
  .ofs-carousel__header {
    padding: 13px 20px;
  }

  .img-carousel__items-list.row {
    flex-wrap: nowrap;
  }

  .img-carousel__items-list {
    overflow-x: auto;
  }

  .img-carousel__items-list::-webkit-scrollbar {
    display: none;
  }

  .search-item-result__item {
    margin: 2px 0;
  }

  .search-item-result__items {
    margin: 0 2px;
  }

  .search-item-result__item.col {
    padding-left: 2px;
    padding-right: 2px;
  }

  .buy–with-original {
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    word-wrap: break-word;
    overflow: hidden;
  }
}

/* PC */
@media (min-width: 64em) {
  .hide-on-pc {
    display: none;
  }
}

/* Low PC */
@media (min-width: 64em) and (max-width: 77.4375em) {
  .footer-area {
    flex-direction: column;
    align-items: center;
  }

  .footer-area-text {
    margin-bottom: 15px;
  }

  .ofs-carousel__item {
    margin-right: 1px;
  }
}

/* small mobile - 360px */
@media (max-width: 22.5em) {
  .sale-off-tag {
    font-size: 0.8rem;
  }

  .search-item-result__item-rated span {
    font-size: 0.9rem;
  }

  .buy–with-original {
    font-size: 0.9rem;
    line-height: 1.2rem;
    padding: 1px 2px 0 2px;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    word-wrap: break-word;
    overflow: hidden;
    width: 72px;
    height: 16px;
  }

  .installment-tag {
    color: #f5a622;
    font-size: 0.9rem;
    line-height: 1.2rem;
    padding: 2px 4px 0 4px;
    border: 1px solid #f5a622;
    height: 16px;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    word-wrap: break-word;
    overflow: hidden;
  }

  .top-sales-item-link__text {
    padding: 0 4px;
    min-height: 40px;
  }

  .ofs-carousel__link-see-all {
    font-size: 1.4rem;
  }

  .ofs-carousel__link-see-all span {
    margin-right: 4px;
  }

  .ofs-carousel__link-see-all i {
    font-size: 1.6rem;
  }

  .search-item-result__item-price {
    font-size: 1.2rem;
  }

  .search-item-result__item-price-saleoff {
    font-size: 1.4rem;
  }
}
